<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panager</title>
  <link rel="stylesheet" href="/css/header_style.css" />
</head>

<body>
  <header class="header">
    <a href="./index.html" class="header__logo">Panager</a>

    <ul class="header__nav">
      <li class="header__list">
        <a class="header__link" href="/profile">Profile</a>
      </li>
      <li class="header__list">
        <a class="header__link" href="/signin">Sign In</a>
      </li>
      <li class="header__list">
        <a class="header__link" href="#">About</a>
      </li>
      <li class="header__list">
        <a class="header__link" href="/accounts">Accounts</a>
      </li>
      <li class="header__list">
        <a class="header__link" href="#">Test</a>
      </li>
      <li class="header__list">
        <a class="header__link" href="#">Contact</a>
      </li>
    </ul>
  </header>

  <section class="banner"></section>
  <script src="/header_main.js"></script>
</body>
