<html>
    <head>
        <title></title>
        <style>
            .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.87;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("/images/1.jpg");
  min-height: 760px;
   background-position: 80%;

}

.bgimg-2 {
  background-image: url("/images/2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("/images/3.jpg");
  min-height: 400px;
  background-position: 10%;
}

.bgimg-4 {
  background-image: url("/images/4.jpg");
  min-height: 400px;
  background-position: 1%;
}

/*.bgimg-5 {
  background-image: url("internet.jpeg");
  min-height: 400px;
  background-position: 90%;
}*/
        </style>
    </head>
    <body>
        <div class="bgimg-1" id="bgimg-1">
            <div class="caption">
              <a href="">
            <span class="border"
            style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
          </a>
            </div>
          </div>
          
          
          <div class="bgimg-2" id="bgimg-2">
            <div class="caption">
              <a href="">
            <span class="border"
            style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
          </a>
            </div>
          </div>
          
          <div class="bgimg-3" id="bgimg-3">
            <div class="caption">
              <a href="">
            <span class="border"
            style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
          </a>
            </div>
          </div>
          
          <div class="bgimg-4" id="bgimg-4">
            <div class="caption">
              <a href="">
            <span  class="border"
            style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
            </a>
            </div>
          </div>
    </body>
</html>