<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Panager</title>
    <style>
      
    </style>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
     

    <%- include("./partials/parallax.ejs") %>

     
    <%- include("./partials/footer.ejs") %>
  </body>
</html>