<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script>
      const db = require('../models');
      const Password = db.password;
      const User = db.user;
    </script>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">

      html {
        background-color: #1f253d;
      }
      .menu {
        position: absolute;
        margin-top: 20px;
        margin-left: 10px;
      }
      #menu_style {
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
        color: white;
        font-size: 19px;
        background-color: #50597b;
        padding: 10px;
        border-radius: 3px;
      }
      #menu_style:hover {
        padding: 15px;
      }
      .passwords {
        position: absolute;
        left: 40em;
      }
      #pass_title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        margin-bottom: 5em;
        color: white;
      }
      .password_list {
        position: relative;
        background-color: #50597b;
        width: 45em;
        height: 25em;
        border-radius: 6px;
        scroll: auto;
      }
      .add {
        position: absolute;
        left: 40em;
        top: 45em;
      }
      #button_style {
        font-family: 'Ubuntu', sans-serif;
        color: white;
        padding: 10px;
        background-color: #50597b;
        font-size: 19px;
      }
      
      .add_password {
        display: none;
        position: absolute;
        left:50em;
        top:26em;
        width: 15em;
        height: 9em;
        background-color:midnightblue;
        padding: 30px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="menu">
      <a href="#" id="menu_style">Home</a> <br><br><br>
      <a href="#" id="menu_style">Profile</a>
    </div>
    <div class="passwords">
      <h3 id="pass_title" style="margin-left:5em;">My Passwords</h3>
      <div class="password_list">
        <script>
          document.onload = function findPass() {
            const password1 = Password.findOne({
            where: {
              userId: sessionData.user.id
            }
          });
          }
          document.getElementById.style.color = 'red';
        </script>
        <ul>
          <li id="list">Facebook</li>
          <li>Instagram</li> 
        </ul>
      </div>
    </div>  
    <div class="add">
      <button id="button_style" onclick="Add()">ADD PASSWORD</button>
    </div>
    <div class="add_password" id="add_password">
      <form action="api/passwords/addPassword" method="POST">
        <label for="">website name</label>
        <input type="text" name="website_name" id=""><br>
        <label for="">email/username</label>
        <input type="text" name="emailOrUsername" id=""><br>
        <label for="">password</label>
        <input type="password" name="password"><br><br>
        <input type="submit" name="submit" id="submit">
      </form>
    </div>
    <script>
      function Add() {
        document.getElementById("add_password").style.display = "block";
      }
    </script>
    <script>
     

    </script>
  </body>
</html>
