<html>
    <head>
    <title></title>
    <link rel="stylesheet" href="/css/profile_style.css">
    </head>
    <body>

        <div class="main-container">
    
            <!-- HEADER -->
            <header class="block">
                <ul class="header-menu horizontal-list">
                    <li>
                        <a class="header-menu-tab" href="#1"><span class="icon entypo-cog scnd-font-color"></span>Settings</a>
                    </li>
                    <li>
                        <a class="header-menu-tab" href="#2"><span class="icon fontawesome-user scnd-font-color"></span>Account</a>
                    </li>
                    <li>
                        <a class="header-menu-tab" href="/passwords"><span class="icon fontawesome-envelope scnd-font-color"></span>Passwords</a>
                        <a class="header-menu-number" href="#4">5</a>
                    </li>
                    
                </ul>
                <div class="profile-menu">
                    <p>Me <a href="#26"><span class="entypo-down-open scnd-font-color"></span></a></p>
                    <div class="profile-picture small-profile-picture">
                        <img width="40px" alt="Anne Hathaway picture" src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg">
                    </div>
                </div>
            </header>
    
            
    
            <!-- MIDDLE-CONTAINER -->
            <div class="middle-container container">
                <div class="profile block"> <!-- PROFILE (MIDDLE-CONTAINER) -->
                    <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
                    <div class="profile-picture big-profile-picture clear">
                        <img width="150px" alt="Anne Hathaway picture" src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg" >
                    </div>
                    <h1 class="user-name"><%= sessionData.user.username %></h1>
                    
                    
                </div>
            </div>
            
            <div class="middle-container container">
                <div class="profile block" style="width: 36em;"> <!-- PROFILE (MIDDLE-CONTAINER) -->

                    <ul>
                        <li>Facebook: </li>
                        <li>Instagram: </li>
                    </ul>
                    
                    
                    
                </div>
            </div> 
           
    
            
                
                
                
               
    </body>
    
</html>