<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/css/sign-in.css">
		
	</head>
	<body>
		<div class="container right-panel-active">
			<!-- Sign Up -->
			<div class="container__form container--signup">
				<form class="form" id="form1" action="/signup" method="POST">
					<h2 class="form__title">Sign Up</h2>
					<input type="text" placeholder="User" class="input" name="username" required/>
					<input type="email" placeholder="Email" class="input" name="email" required/>
					<input type="password" placeholder="Password" class="input" name="password" required/>
					<!--<button class="btn" type="submit">Sign Up</button>-->
					<input type="submit" class="btn" value="Sign Up"/>
				</form>
			</div>

			<!-- Sign In -->
			<div class="container__form container--signin">
				<form action="/signin" class="form" id="form2" method="POST">
					<h2 class="form__title">Sign In</h2>
					<input type="email" placeholder="Email" class="input" name="useremail" required/>
					<input type="password" placeholder="Password" class="input" name="userpassword" required/>
					<a href="#" class="link">Forgot your password?</a>
					<!--<button class="btn">Sign In</button>-->
					<input type="submit" class="btn" value="Sign In">
				</form>
			</div>

			<!-- Overlay -->
			<div class="container__overlay">
				<div class="overlay">
					<div class="overlay__panel overlay--left">
						<button class="btn" id="signIn">Sign In</button>
					</div>
					<div class="overlay__panel overlay--right">
						<button class="btn" id="signUp">Sign Up</button>
					</div>
				</div>
			</div>
		</div>
		<script src="/sign-in_main.js"></script>
	</body>
</html>
